@page "/about"

<div class="info">
	<img src="images/Nex.jpg">
	<div class="text1">
		<br />
		<br />
	</div>
	<img src="images/amk.jpg">
	<div class="text1">
		<h2>Image1: NEX Branch</h2>
		<h2>Image2: AMK Branch</h2>
		<h1>
			Welcome to Magic Hotpot – Where Culinary Enchantment Meets the Steamy Delights of Hotpot!
		</h1>
		<br />
		<br />
		<p>
			Legend has it that the founders of Magic Hotpot embarked on a quest to discover the perfect blend of flavors that would ignite the taste buds and warm the hearts of all who entered.<br />
			Armed with cauldrons of bubbling broths and an array of spellbinding ingredients, they crafted an enchanting menu that would leave diners spellbound.
		</p>
	</div>



</div>

@code {

}
