@page "/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable


<div class="container">
    <h1>Welcome to Magic Hotpot</h1>
    <img src="images/icon.jpg" alt="Image 1" class="image">
    <div class="button-container">
        <a class="menu-button" href="/bookings" style="text-decoration:none">Reservation</a>
        <a class="menu-button" href="/foods" style="text-decoration:none">Menu</a>
        <a class="menu-button" href="/branches" style="text-decoration:none">Our Branch</a>
        <a class="menu-button" href="/reviews" style="text-decoration:none">Review</a>
        <a class="menu-button" href="/about" style="text-decoration:none">About</a>

    </div>
</div>



@code{
    public void Dispose(){
        _interceptor.DisposeEvent();
    }
}


