@page "/"

<style>
    body {
        background-color: #000;
        color: #fff;
    }

    .container {
        max-width: 800px;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        font-size: 10px;
    }
    .image{
        width:45%;
        margin:1%;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    h2{
        font-size: 25px;
    }
    @*meaning Paragraph, em = measurement*@
    p {
        font-size: 1.5em;
        line-height: 1.6;
    }
    

    }
</style>

<div class="container">
    <h1>Welcome to Magic Hotpot</h1>
    <img src="https://cdn.discordapp.com/attachments/1021508602671939746/1181618959645155398/Screenshot_1.png?ex=6581b769&is=656f4269&hm=b8ff2e927369ec7eb4a25917a2b1b866c54729dac048604fd48193e942f0ece3&" alt="Image 1" class="image">
    <h2>
        RESERVATION<br>
        MENU<br>
        CONTACT US<br>
        REVIEWS<br>
    </h2>
    @*<h2>Hello World</h2>
    <div class="image-container">
        <img src="https://t3.ftcdn.net/jpg/02/09/65/14/360_F_209651427_Moux8Hkey15wtMbtLymbPPrdrLhm58fH.jpg" alt="Image 1" class="image">
        <img src="https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?cs=srgb&dl=pexels-pixabay-87651.jpg&fm=jpg" alt="Image 2" class="image">
    </div>*@
</div>


    @*Next, external css*@