@page "/orderItems/create/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New OrderItem</h3>
<hr />
<br />

<FormComponent ButtonText="Create OrderItem" orderItem="orderItem" OnValidSubmit="@CreateOrderItem" />


@code {
    // do for OrderItem, Customer, OrderItem and Review
    OrderItem orderItem = new OrderItem();
    [Parameter] public int id { get; set; }

    private IList<Food>? Foods;
    private IList<OrderItem>? OrderItems;

    protected async override Task OnInitializedAsync()
    {
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
        OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
    }

    private async Task CreateOrderItem()
    {
        await _client.PostAsJsonAsync(Endpoints.OrderItemsEndpoint, orderItem);
        _navManager.NavigateTo($"/orderItems/{id}");
    }

}