@page "/orderItems/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class"card-title">OrderItems</h3>
<br />

<a href="/orderItems/create/" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New OrderItem
</a>

@if (OrderItems == null)
{
    <div class="alert alert-info">Loading OrderItems...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Booking ID</th>
                <th>Food</th>
                <th>Order qty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in OrderItems)
            {
                <tr>
                    <td>@orderItem.Id</td>
                    <td>@orderItem.BookID</td>
                    <td>@orderItem.Food.FoodName</td>
                    <td>@orderItem.OrderQty</td>
                    <td>
                        <a href="/orderItems/view/@orderItem.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>

                        <a href="/orderItems/edit/@orderItem.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<a href="/bookings/" class="btn btn-outline-dark btn-block">
    <span class="oi oi-arrow-left"></span>
    Back To Booking
</a>

@code {
    private List<OrderItem>? OrderItems;
    private List<Food>? Foods;
    Booking? booking = new Booking();

    protected async override Task OnInitializedAsync()
    {
        OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
    }

    async Task Delete(int orderItemId)
    {
        if (OrderItems != null)
        {
            var orderItem = OrderItems.First(q => q.Id == orderItemId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {orderItem.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.OrderItemsEndpoint}/{orderItemId}");
                await OnInitializedAsync();
            }
        }
    }

}