@page "/foods/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@inject HttpInterceptorService _interceptor


<h3 class"card-title">Foods</h3>
<br />

<a href="/foods/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Food
</a>

@if (Foods == null)
{
    <div class="alert alert-info">Loading Foods...</div>
}
else
{
    <table class="table table-responsive" id="foodsTable">
        <thead>
            <tr>
                    <th>Food Name</th>
                    <th>Food Description</th>
                    <th>Price</th>
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Foods)
            {
                <tr>
                    <td>@food.FoodName</td>
                    <td>@food.FoodDescription</td>
                    <td>@food.FoodPrice</td>
                    <td>
                        <a href="/foods/view/@food.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>

                        <a href="/foods/edit/@food.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-danger" @onclick="@(()=>Delete(food.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





@code {
    private List<Food>? Foods;

    protected async override Task OnInitializedAsync()
    {
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#foodsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#foodsTable");
        _interceptor.DisposeEvent();
    }

    async Task Delete(int foodId)
    {
        if (Foods != null)
        {
            var food = Foods.First(q => q.Id == foodId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {food.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.FoodsEndpoint}/{foodId}");
                await OnInitializedAsync();
            }
        }
    }

}