@page "/foods/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class"card-title">Foods</h3>
<br />

@if (Foods == null)
{
    <div class="alert alert-info">Loading Foods...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                    <th>Food Name</th>
                    <th>Food Description</th>
                    <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Foods)
            {
                <tr>
                    <td>@food.FoodName</td>
                    <td>@food.Id</td>
                    <td>
                        <a href="/food/view/@food.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>

                        <a href="/food/edit/@food.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-primary" @onclick="@(()=>Delete(food.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}





@code {
    private List<Food>? Foods;

    protected async override Task OnInitializedAsync()
    {
        Foods = await _client.GetFromJsonAsync<List<Food>>("api/foods");
        Foods = await _client.GetFromJsonAsync<List<Food>>($"{Endpoints.FoodsEndpoint}");
    }

    async Task Delete(int foodId)
    {
        if (Foods != null)
        {
            var food = Foods.First(q => q.Id == foodId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {food.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.FoodsEndpoint}/{foodId}");
                await OnInitializedAsync();
            }
        }
    }

}