@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth" style="display:flex; justify-content:flex-end; align-items:center;">

            <LoginDisplay />
            <a href="/" class="nav-link">
                <img style="width: 100px; height: 50px; left:0px; top:0px; position:absolute" src="https://cdn.discordapp.com/attachments/1021508602671939746/1181618959645155398/Screenshot_1.png?ex=6581b769&is=656f4269&hm=b8ff2e927369ec7eb4a25917a2b1b866c54729dac048604fd48193e942f0ece3&" />

            </a>

            <div style="left: 80px; position: absolute;">
                <a href="reviews" class="nav-link">
                    Reviews
                </a>
            </div>

            <div style="left: 180px; position: absolute;">
                <a href="bookings" class="nav-link">
                    Bookings
                </a>
            </div>

            <div style="left: 280px; position: absolute;">
                <a href="staffs" class="nav-link">
                    Staffs
                </a>
            </div>
            <div style="left: 380px; position: absolute;">
                <a href="branches" class="nav-link">
                    Branches
                </a>
            </div>

            <div style="left: 480px; position: absolute;">
                <a href="customers" class="nav-link">
                    Customers
                </a>
            </div>

        </div>

        @*
        <div class="sidebar">
        <NavMenu />
        </div>

        <main>
        *@


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
